/node_modules
/coverage
**/dist
/packages/*/lib
/packages/*/es
/packages/*/node_modules
/packages/*/.local
/.local
/packages/*/src/fixtures/**/node_modules/.cache
/packages/umi-plugin-father-doc/src/fixtures/build/*/dist
/packages/father-doc/src/fixtures/e2e/normal/.doc
/packages/father-doc/src/fixtures/e2e/normal/.docz
/.changelog
lerna-debug.log
.umi
.umi-production
/dist

yarn-error.log

# system
.DS_Store

# custom
tmp-files
